{%- capture curPageVersion -%}
	{%- if page.url contains '-v' -%}
		{{ page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
	{%- else -%}
		latest version
	{%- endif -%}
{%- endcapture -%}

{%- if curPageVersion == "latest version" -%}
	<p class="currentVersion fontOswald">latest version</p>		
{%- else -%}
	<p class="currentVersion fontOswald">{{ "version " | append: curPageVersion }}</p>
{%- endif -%}



{%- assign needRemoveStr = "-v" | append: curPageVersion -%}
{%- assign curUsedToMatchUrl = page.url | remove: needRemoveStr -%}
{%- assign historyRecode = "" -%}

<ul class="otherVersions">

{%- for my_page in site.pages -%}
	{%- capture tmpPageVersion -%}
		{%- if my_page.url contains '-v' -%}
			{{ my_page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
		{%- else -%}
			latest version
		{%- endif -%}
	{%- endcapture -%}

	{%- if tmpPageVersion == curPageVersion -%}
		{%- continue -%}
	{%- endif -%}

	{%- assign newVer = true -%}
	{%- assign historyVer = historyRecode | split: '/' -%}
	{%- for ver in historyVer -%}
		{%- if ver == tmpPageVersion -%}
			{%- assign newVer = false -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}

	{%- unless newVer -%}
		{%- continue -%}
	{%- endunless -%}

	{%- assign needRemoveStr = "-v" | append: tmpPageVersion -%}
	{%- assign tmpUsedToMatchUrl = my_page.url | remove: needRemoveStr -%}

	{%- if tmpUsedToMatchUrl == curUsedToMatchUrl -%}
		{%- assign historyRecode = historyRecode | append: '/' | append: tmpPageVersion -%}
		{%- if tmpPageVersion == "latest version" -%}
			<li><a href = "{{ site.docHomePage }}{{ my_page.url }}" class="otherLinkColour">latest version</a></li>		
		{%- else -%}
			<li><a href = "{{ site.docHomePage }}{{ my_page.url }}" class="otherLinkColour">{{ "version " | append: tmpPageVersion }}</a></li>	
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
</ul>

{%- if historyRecode != '' -%}
	<a class="changeBtn fontOswald" href="javascript:;">Change +</a>
{%- endif -%}

<style type="text/css">
	.otherVersions {
		position: absolute;
    display: none;
    bottom: 47px;
    background: #ffffff;
    right: 0;
    border: 1px olid;
    box-shadow: 0px 0px 5px 2px #ddd;
    padding: 10px 15px;
		text-transform: capitalize;
	}
	.currentVersion {
		margin-bottom: 0;
    text-transform: capitalize;
    font-size: 18px;
	}
	.changeBtn {
		color: #FE8E14;
    float: right;
	}
</style>

<script type="text/javascript">
	$('.changeBtn').on('click', function() {
		$('.otherVersions').toggle()
	})
</script>