
<div class="clearfix">
     <div style="float:right">
         {% capture sourceCodeUrl %}		
             {% if page.url contains '.html' %}		
                 {{ page.url | strip | replace: '.html', '.md'}}		
             {% else %}
                 {{ page.url	| strip }}index.md
             {% endif %}
         {% endcapture %}
         <a href="{{ site.repositoryUrl }}{{ sourceCodeUrl | strip }}" class="otherLinkColour">Edit<img src="{{ site.edit_icon }}" width="20px" height="15px" /></a>
     </div>
     <div style="float:left">
         <div id="crumbs">
             <ul>
                 {%- include liquid_breadcrumb.html -%}
             </ul>
         </div>
         {%- comment -%}
             {%- include liquid_autoGenerateHistoryList.html -%}
         {%- endcomment -%}
     </div>
 </div>