<div id="TryFreeDownload" class="bgOrange hidden-sm hidden-xs">
    <div class="container pt40 pb60 sm-pt50 sm-pb80 md-pt60">
        <div class="row tc">
            <div class="col-xs-12">
                <h2 class="fontWhite textUpperCase">Ready to Take the Next Step?</h2>
                <p class="fontWhite f16" style="text-align: center;max-width: 800px;margin: 20px auto 0;">We’re here to help at all stages of your application development. You can begin with our 30-day free trial or contact our sales team if you’re ready to go, or with any questions.</p>
                <div class="mt15 lg-mt40">
                    <a class="btn d-btn mdBtn bgWhite brWhite hide-xs hide-sm" style="margin-right: 40px;" itemprop="url" href="https://www.dynamsoft.com/Downloads/WebTWAIN_Download.aspx">Download Free Trial</a>
                    <a class="btn d-btn mdBtn brWhite" itemprop="url" href="https://www.dynamsoft.com/Company/Contact.aspx">Contact Sales</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footerTopCnt">
  <div id="footerTop">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-lg-8 col-lg-offset-2 col-xl-7 col-xl-offset-3">
                  <ul class="products hidden-xs">
                      <li class="title">Products</li>
                      <li><a href="https://www.dynamsoft.com/Products/WebTWAIN_Overview.aspx">Dynamic Web TWAIN</a></li>
                      <li><a href="https://www.dynamsoft.com/Products/.Net-TWAIN-Scanner.aspx">Dynamic .NET TWAIN</a></li>
                      <li><a href="https://www.dynamsoft.com/Products/dynamsoft-webcam-sdk.aspx">Dynamsoft Camera SDK</a></li>
                      <li><a href="https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx">Dynamsoft Barcode Reader</a></li>
                  </ul>
                  <ul class="resources hidden-xs">
                      <li class="title">Resources</li>
                      <li><a target="_blank" href="http://www.codepool.biz/">Codepool Blog</a></li>
                      <li><a target="_blank" href="http://labs.dynamsoft.com/">Dynamsoft Labs</a></li>
                  </ul>
                  <ul class="company hidden-xs">
                      <li class="title">Company</li>
                      <li><a href="https://www.dynamsoft.com/Company/AboutDynamsoft.aspx">About Us</a></li>
                      <li><a href="https://www.dynamsoft.com/Company/Customers.aspx?Category=UserList">Customers</a></li>
                      <li><a href="https://www.dynamsoft.com/blog/">Dynamsoft Blog</a></li>
                      <li><a target="_blank" href="https://www.dynamsoft.com/Company/Contact.aspx">Contact Us</a></li>
                      <li><a href="https://www.dynamsoft.com/company/policies.aspx">Policies</a></li>
                  </ul>
                  <ul class="subscribe visible-xs">
                    <li class="logo"><a class="ds-white" href="https://www.dynamsoft.com/"></a></li>
                    <li class="link"><span><a href="https://www.dynamsoft.com/">Home</a></span><span><a href="https://www.dynamsoft.com/Support/Support.aspx">Support</a></span><span><a href="https://www.dynamsoft.com/Company/Careers.aspx">Jobs</a></span><span><a href="https://www.dynamsoft.com/Company/Contact.aspx">Contact</a></span><span><a href="https://www.dynamsoft.com/Subscribe/Subscribe.aspx">Subscribe</a></span></li>
                    <li class="socialMedia"><span><a class="linkedIn" href="http://www.linkedin.com/company/dynamsoft" target="_blank"></a></span><span><a class="fb" href="https://www.facebook.com/Dynamsoft" target="_blank"></a></span><span><a class="tw" href="https://twitter.com/dynamsoft" target="_blank"></a></span><span><a class="gg" href="https://www.google.com/+Dynamsoft" target="_blank"></a></span><span><a class="yt" href="https://www.youtube.com/user/Dynamsoft" target="_blank"></a></span></li>
                </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="footerBottomCnt">
  <div id="footerBottom">
      <div class="container">
          <div class="row">
              <div class="ct-lt hidden-xs col-sm-4"><a class="ds-white" href="https://www.dynamsoft.com"></a></div>
              <div class="ct-ct col-xs-12 col-sm-8"><span class="sm-mr10">&copy; 2003–2020 Dynamsoft. All rights reserved.</span><br class="visible-xs"/>
                  <a href="https://www.dynamsoft.com/PrivacyStatement.aspx">Privacy Statement</a>&nbsp;/&nbsp;<a href="https://www.dynamsoft.com/SiteMap.aspx">Site Map</a><span class="visible-lg"> / <a href="https://www.dynamsoft.com/">Home</a> / <a href="https://www.dynamsoft.com/Support/How-to-purchase-Dynamsoft-products.aspx">Purchase</a> / <a href="https://www.dynamsoft.com/Support/Support.aspx">Support</a> </span></div>
              <div class="ct-rt socialMedia hidden-xs hidden-sm"><span><a class="linkedIn" href="http://www.linkedin.com/company/dynamsoft"></a></span><span><a class="fb" href="https://www.facebook.com/Dynamsoft"></a></span><span><a class="tw" href="https://twitter.com/dynamsoft"></a></span><span><a class="gg" href="https://www.google.com/+Dynamsoft"></a></span><span><a class="yt" href="https://www.youtube.com/user/Dynamsoft"></a></span></div>
          </div>
      </div>
  </div>
</div>