#docHead { top: 95px }
.docContainer, .sideBar { padding-top: 0px; }
#sideBarCnt.sidebar-fixed {
  position: fixed;
  top: 0px;
  max-height: unset;
}
.rightSideMenu.rsm-fixed {
  position: fixed;
  top: 20px;
}