<li><a href="{{ site.indepth }}deployment/Deploy-index.html" class="otherLinkColour">DEPLOYMENT</a>
  <ul>
    {%- if page.url contains '/indepth/deployment/' -%}
    <li><a href="{{ site.indepth }}deployment/Server.html" class="otherLinkColour">Server Setup</a></li>
    <li><a href="{{ site.indepth }}deployment/Service.html" class="otherLinkColour">Service Setup</a></li>
    <li><a href="{{ site.indepth }}deployment/Scenarios.html" class="otherLinkColour">Scenarios</a></li>
    {%- endif -%}
  </ul>
</li>