<li><a href="{{ site.features }}tech-index.html" class="otherLinkColour">Techniques</a>
  <ul>
    {%- if page.url contains '/indepth/features/' -%}
    <li><a href="{{ site.features }}initialize.html" class="otherLinkColour">Initialize</a></li>
    <li><a href="{{ site.features }}input.html" class="otherLinkColour">Input</a></li>
    <li><a href="{{ site.features }}output.html" class="otherLinkColour">Output</a></li>
    <li><a href="{{ site.features }}buffer.html" class="otherLinkColour">Buffer</a></li>
    <li><a href="{{ site.features }}viewer.html" class="otherLinkColour">Viewer</a></li>
    <li><a href="{{ site.features }}ui.html" class="otherLinkColour">UI</a></li>
    <li><a href="{{ site.features }}edit.html" class="otherLinkColour">Edit</a></li>
    <li><a href="{{ site.features }}barcode.html" class="otherLinkColour">Barcode</a></li>
    <li><a href="{{ site.features }}OCR.html" class="otherLinkColour">OCR</a></li>
    <li><a href="{{ site.features }}pdf.html" class="otherLinkColour">PDF</a></li>
    {%- endif -%}
  </ul>
</li>