<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

<body>
    <div class="headWrapper">
        {%- include page_header.html -%}
    </div>
    <div class="subHeadWrapper container">
        <div class="subHeader row">
            <ul class="subHeaderMenuUl col-xs-12">
                <li class="title"><a class="orangelink" href="/">Dynamsoft Barcode Reader</a> | DEVELOPER'S CENTER</li>
                <li class="on">DOCUMENTATION</li>
                <li><a class="whitelink" href="/">CODE GALLERY</a></li>
                <li><a class="whitelink" href="/">RESOURCES</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="sideBar">

            <ul class="mainPage" id="fullTreeMenuListContainer" name="listLevel1">
                <li><a href="{{ site.introduction }}" class="otherLinkColour">Introduction</a>
                    <ul>
                        {%- if page.url contains '/introduction/' -%}
                        <li><a href="{{ site.introduction }}overview.html" class="otherLinkColour">Overview</a></li>
                        <li><a href="{{ site.introduction }}architecture.html" class="otherLinkColour">Architecture</a></li>
                        {%- include sidelist-introduction/introduction-licensing.html -%}
                        {%- include sidelist-introduction/introduction-how-to-guides.html -%}
                        {%- include sidelist-introduction/introduction-comparison-tools.html -%}
                        <li><a href="{{ site.faqs }}" class="otherLinkColour">FAQs</a></li>
                        <li class="unavailableLink">Security Features</li>
                        {%- endif -%}
                    </ul>
                </li>
                <li><a href="{{ site.programming }}" class="otherLinkColour">Programming</a>
                    <ul>
                        {%- if page.url contains '/programming/' -%}
                        {%- include sidelist-programming/programming-c.html -%}
                        {%- include sidelist-programming/programming-cpp.html -%}
                        {%- include sidelist-programming/programming-javascript.html -%}
                        {%- include sidelist-programming/programming-dotnet.html -%}
                        {%- include sidelist-programming/programming-oc.html -%}
                        {%- include sidelist-programming/programming-java.html -%}
                        {%- include sidelist-programming/programming-android.html -%}
                        {%- include sidelist-programming/programming-python.html -%}
                        {%- endif -%}
                    </ul>
                </li>
                <li><a href="{{ site.parameters }}" class="otherLinkColour">Parameters</a>
                    <ul>
                        {%- if page.url contains '/parameters/' -%}
                        <li><a href="{{ site.parameters }}structure-and-interfaces-of-parameters.html" class="otherLinkColour">Structure and Interfaces of Parameters</a></li>
                        {%- include sidelist-parameters/parameters-references.html -%}
                        {%- include sidelist-parameters/parameters-enumerations.html -%}
                        {%- include sidelist-parameters/parameters-scenario-settings.html -%}
                        <li class="unavailableLink">Example Image Settings</li>
                        {%- endif -%}
                    </ul>
                </li>
                <li class="unavailableLink">Enhancements
                    {%- if page.url contains '/enhancements/' -%}
                    <ul>
                        <li class="unavailableLink">DPM Codes</li>
                        <li class="unavailableLink">Intermediate Result</li>
                        <li class="unavailableLink">Panorama</li>
                        <li class="unavailableLink">PDF Vector</li>
                    </ul>
                    {%- endif -%}
                </li>
            </ul>
        </div>
        <div class="container">
            <div class = "head">
                {%- include main-page-head.html -%}
            </div>
            <div class="main">
                <div class="sideMenu">	
                    <div id="feedbackFooter">
                        <p>Is this page helpful? <br> <a href="javascript:void(0)" onclick="UsefulRecord(true)">Yes</a>  <a href="javascript:void(0)" onclick="UsefulRecord(false)">No</a></p>
                    </div>
                    <HR>
                    {%- if page.needAutoGenerateSidebar -%}
                    <p style="font-weight: bold;"> In this article: </p>
                    {%- endif -%}
				</div>
                <div class="content markdown-body headCounter">
                    {{ content }}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footerWrapper">
        {%- include page_footer.html -%}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>

    {%- if page.needAutoGenerateSidebar -%}
    {%- unless page.needGenerateH3Content -%}
    <script>
        FullTreeMenuList(true, false);
    </script>
    {%- else -%}
    <script>
        FullTreeMenuList(true);
    </script>
    {%- endunless -%}
    {%- else -%}
    <script>
        FullTreeMenuList(false);
    </script>
    {%- endif -%}
</body>

</html>
