<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

<body>
    <script src="{{ site.assets }}js/urlRewrite.js"></script>

    <div class="headWrapper">
        {%- include page_header.html -%}
    </div>
    {%- include dbrNav.html -%}
    <div class="sideBarIcon"><i class="fa fa-list" style="margin-right: 5px;"></i> Table of contents</div>
    <div class="sideBar">
        <div id="sideBarCnt">
            <div class="showMobile" style="font-size: 47px;text-align: right;margin-bottom: 20px;"><i>×</i></div>
            <div class="history list">
                {%- include liquid_autoGenerateHistoryList.html -%}
                {%- include version-list.html -%}
            </div>
            <div class="docSearchPart" style="margin-top: 10px;">
                <input id="txtSearch" class="search" type="text">
            </div>
            <ul class="mainPage" id="fullTreeMenuListContainer" name="listLevel1">
                {%- include sidelist-introduction.html -%}
                {%- include sidelist-programming.html -%}
                {%- include sidelist-parameters.html -%}
                {%- include sidelist-enhancement.html -%}
                {%- include sidelist-license_activation.html -%}
            </ul>
        </div>
    </div>
    <section class="middleWrapper">
        <div class="docContainer">
            <div class="rightSideMenu">
                <div class="rightMenuContent">
                    <div id="compatibleInfo">
                        <p>This page is compatible for:</p>
                        <p class="compatibleCurVersion">Version 7.5</p>
                    </div>
                    <div id="feedbackFooter" style="color: #306877;">
                        <p class="fontOswald">Is this page helpful? </p>
                        <a href="javascript:void(0)" style="color: #306877;" class="recordLink smileLink" onclick="UsefulRecord(true)"><img class="icon-smile" src="{{ site.smile_icon }}" alt="Yes" />Yes</a>
                        <a href="javascript:void(0)" style="color: #306877;" class="recordLink sadLink" onclick="UsefulRecord(false)"><img class="icon-sad" src="{{ site.sad_icon }}" alt="No" />No</a>
                    </div>
                    {%- if page.needAutoGenerateSidebar -%}
                    <hr />
                    <p class="fontOswald" style="color: #306877;"> In this article: </p>
                    <div id="AutoGenerateSidebar"></div>
                    {%- endif -%}
                </div>
            </div>
            <div class="content markdown-body headCounter" style="margin-bottom: 20px;">
                <article class="article">
                    <div id="docHead" class = "head clearfix">
                        {%- include main-page-head.html -%}
                    </div>
                    <div class="dbrThanksDownloading">
                        <p class="thanksDownloadTitle">Thanks for downloading Dynamsoft Barcode Reader <span class="editionName"></span> Package!</p>
                        <p style="margin-bottom: 0;">Your download will start shortly. If your download does not begin, <a class="bluelink downloadlink" href="">click here to retry</a>.</p>
                    </div>
                    {{ content }}
                </article>
            </div>
        </div>
        <div id="footerWrapper">
            {%- include page_footer.html -%}
        </div>
    </section>

    <script type="text/javascript">anchors.add();</script>

    <script type="text/javascript">
        UrlReplace();
    </script>
    
    {%- if page.needAutoGenerateSidebar -%}
    {%- unless page.needGenerateH3Content -%}
    <script type="text/javascript">
        FullTreeMenuList(true, false);
    </script>
    {%- else -%}
    <script type="text/javascript">
        FullTreeMenuList(true);
    </script>
    {%- endunless -%}
    {%- else -%}
    <script type="text/javascript">
        FullTreeMenuList(false);
    </script>
    {%- endif -%}

    {%- include livehelp.html -%}

    <!-- for dbr -->
    <script type="text/javascript">
        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            return (arr = document.cookie.match(reg)) ? unescape(arr[2]) : null;
        }

        $(document).ready(function(){
            var download = getUrlParam('download');
            if(download == 'true' && (getCookie('DynamsoftEmail') || getCookie('SourceServer') == '1')) {
                var curHref = window.location.href.toLowerCase()
                if (curHref.indexOf('/c/') > -1 || curHref.indexOf('/cplusplus/') > -1) {
                    $('.editionName').html('C/C++');
                    $('.downloadlink').attr('href', 'https://download.dynamsoft.com/dbr/dbr-c_cpp-8.4.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/dotnet/') > -1) {
                    $('.editionName').html('.NET');
                    $('.downloadlink').attr('href', 'https://download.dynamsoft.com/dbr/dbr-dotnet-8.4.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/java/') > -1) {
                    $('.editionName').html('Java');
                    $('.downloadlink').attr('href', 'https://download.dynamsoft.com/dbr/dbr-java-8.4.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/javascript/') > -1) {
                    $('.editionName').html('Javascript');
                    $('.downloadlink').attr('href', 'https://download.dynamsoft.com/dbr/DBR-JS-8.2.5.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/android/') > -1) {
                    $('.editionName').html('Android');
                    $('.downloadlink').attr('href', 'https://download.dynamsoft.com/dbr/dbr-android-8.4.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/objectivec-swift/') > -1) {
                    $('.editionName').html('iOS');
                    $('.downloadlink').attr('href', 'https://download.dynamsoft.com/dbr/dbr-ios-8.4.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                }
            }

            $('#txtSearch').keydown(function(e) { 
                if (e.keyCode == 13) {
                    window.location.href = '/barcode-reader/search.html?q=' + $('#txtSearch').val();
                }
            })
        })
    </script>
</body>

</html>
