<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

<body>
    <div class="headWrapper">
        {%- include page_header.html -%}
    </div>
    <div class="markdown-body container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-xl-8 col-xl-offset-2">
                {{ content }}
            </div>
        </div>
        <!-- <p align="right">
            {% capture sourceCodeUrl %}		
            {% if page.url contains '.html' %}		
                {{ page.url | strip | replace: '.html', '.md'}}		
            {% else %}
                {{ page.url	| strip }}index.md
            {% endif %}
            {% endcapture %}
            <a href="{{ site.repositoryUrl }}{{ sourceCodeUrl | strip }}" class="otherLinkColour">Edit<img src="{{ site.edit_icon }}" width="20px" height="15px" /></a>
        </p> -->
        
    </div>
    <div id="footerWrapper">
        {%- include page_footer.html -%}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>

</body>

</html>